h1 {
  font-family: "Maven Pro", sans-serif;
  font-weight: 900;
  color: #2b98f0;
  margin: 10px; }
  @media (min-width: 992px) {
    h1 {
      font-size: 32px; } }
  @media (min-width: 700px) and (max-width: 991px) {
    h1 {
      font-size: 30px; } }
  @media (min-width: 300px) and (max-width: 699px) {
    h1 {
      font-size: 26px; } }

h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: 900;
  margin: 10px; }
  @media (min-width: 992px) {
    h2 {
      font-size: 26px; } }
  @media (min-width: 700px) and (max-width: 991px) {
    h2 {
      font-size: 26px; } }
  @media (min-width: 300px) and (max-width: 699px) {
    h2 {
      font-size: 20px; } }

h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #c0c0c0; }
  @media (min-width: 300px) and (max-width: 699px) {
    h3 {
      font-size: 18px; } }

p {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px; }

.contact p {
  color: #808080;
  font-size: 16px; }

a {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: #2b98f0;
  font-size: 16px;
  text-decoration: none; }

.fa {
  color: #fca90b;
  font-size: 26px; }

.light {
  color: #808080;
  font-size: 14px; }

body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: 900;
  background: white; }

.scroll_header {
  background-color: #2b98f0;
  height: 50px;
  width: 100vw;
  color: white;
  display: none;
  z-index: 200; }

.scroll_header p {
  display: inline-block;
  line-height: 50px;
  font-size: 16px; }

.scroll_header_left {
  text-align: left;
  margin-left: 50px;
  height: 100%;
  display: inline-block; }

.scroll_header_right {
  text-align: right;
  margin-right: 50px;
  height: 100%;
  display: inline-block;
  float: right;
  padding-right: 20px; }

.header_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 75px 75px; }
  @media (min-width: 992px) {
    .header_grid {
      grid-template-areas: "mainheader contact" "mainheader nav"; } }
  @media (min-width: 700px) and (max-width: 991px) {
    .header_grid {
      grid-template-areas: "mainheader tabletnav" "mainheader ."; } }
  @media (min-width: 300px) and (max-width: 699px) {
    .header_grid {
      grid-template-rows: 100px 100px;
      grid-template-areas: "mainheader mainheader" "tabletnav tabletnav"; } }

.main_header {
  grid-area: mainheader; }
  @media (min-width: 300px) and (max-width: 699px) {
    .main_header {
      text-align: center; } }

.logo_img {
  width: 200px;
  padding-left: 25px;
  padding-top: 10px; }
  @media (min-width: 300px) and (max-width: 699px) {
    .logo_img {
      width: 150px;
      padding-left: 0; } }

.main_header h2 {
  margin: 0 0 0 40px; }

.main_header h3 {
  margin-left: 60px; }

.contact {
  grid-area: contact;
  text-align: right;
  height: 100%;
  line-height: 75px; }

.contact li, .tablet_nav li {
  display: inline-block;
  margin-right: 10px; }

.fa {
  padding: 5px; }

.nav {
  grid-area: nav;
  text-align: right;
  line-height: 75px; }

.nav li {
  text-transform: uppercase;
  display: inline-block;
  margin-right: 25px; }

.nav a {
  color: black; }

.nav a:hover {
  color: #2b98f0; }

@media (min-width: 300px) and (max-width: 699px) {
  .nav, .contact {
    display: none; } }
@media (min-width: 700px) and (max-width: 991px) {
  .nav, .contact {
    display: none; } }

.tablet_nav {
  grid-area: tabletnav;
  text-align: right;
  align-self: end; }
  @media (min-width: 992px) {
    .tablet_nav {
      display: none; } }
  @media (min-width: 300px) and (max-width: 699px) {
    .tablet_nav {
      text-align: center;
      align-self: center; } }

.menu_bars {
  position: relative; }

.tablet_nav_dropdown {
  width: 150px;
  height: auto;
  background-color: white;
  position: absolute;
  top: 80px;
  right: 10px;
  z-index: 500;
  box-shadow: 1px 1px 4px #808080;
  border-radius: 3px;
  display: none; }

.tablet_nav_dropdown li {
  padding: 15px; }

.tablet_nav_dropdown ul {
  text-align: left;
  margin: 10px 0 10px 10px; }

.tablet_nav_dropdown_background {
  z-index: 499;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: none; }

.showcase_grid {
  display: grid;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  grid-auto-rows: auto;
  grid-gap: 10px;
  grid-template-areas: "video1 video2";
  justify-content: center; }
  @media (min-width: 992px) {
    .showcase_grid {
      grid-template-columns: 500px 500px;
      width: 1010px; } }
  @media (min-width: 700px) and (max-width: 991px) {
    .showcase_grid {
      grid-template-columns: 345px 345px;
      width: 700px; } }
  @media (min-width: 300px) and (max-width: 699px) {
    .showcase_grid {
      grid-template-rows: 300px 300px;
      grid-template-areas: "video1" "video2"; } }

.video_1_box {
  grid-area: video1; }

.video_2_box {
  grid-area: video2; }

.video1 {
  width: 500px;
  height: 500px; }
  @media (min-width: 700px) and (max-width: 991px) {
    .video1 {
      width: 345px;
      height: 345px; } }
  @media (min-width: 300px) and (max-width: 699px) {
    .video1 {
      width: 300px;
      height: 300px; } }

.video2 {
  width: 500px;
  height: 500px; }
  @media (min-width: 700px) and (max-width: 991px) {
    .video2 {
      width: 345px;
      height: 345px; } }
  @media (min-width: 300px) and (max-width: 699px) {
    .video2 {
      width: 300px;
      height: 300px; } }

.main_content {
  background-color: #ebebeb; }

.main_row {
  width: 75vw;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 40px; }

.main_row h2 {
  padding-left: 25px; }

.main_grid {
  width: 50%;
  margin: auto;
  display: grid;
  grid-template-columns: 240px 240px;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: center;
  padding-bottom: 75px; }
  @media (min-width: 300px) and (max-width: 699px) {
    .main_grid {
      grid-template-columns: 240px;
      grid-template-rows: auto;
      grid-template-areas: "row-1" "row-2" "row-3" "row-4" "row-5" "row-6"; } }

@media (min-width: 300px) and (max-width: 699px) {
  .item1 {
    grid-area: row-1; }

  .item2 {
    grid-area: row-2; }

  .item3 {
    grid-area: row-4; }

  .item4 {
    grid-area: row-3; }

  .item5 {
    grid-area: row-5; }

  .item6 {
    grid-area: row-6; } }
.image_1 {
  height: 240px;
  width: 240px;
  background: linear-gradient(to bottom, rgba(43, 152, 240, 0.6), rgba(43, 152, 240, 0)), url("../images/beach_training2.jpg"); }

.image_2 {
  height: 240px;
  width: 240px;
  background: linear-gradient(to bottom, rgba(43, 152, 240, 0.6), rgba(43, 152, 240, 0)), url("../images/garage_training2.jpg"); }

.image_3 {
  height: 240px;
  width: 240px;
  background: linear-gradient(to bottom, rgba(43, 152, 240, 0.6), rgba(43, 152, 240, 0)), url("../images/gloves2.jpg"); }

.image_marker {
  height: 120px;
  background-color: #fca90b;
  width: 16px;
  top: 50%;
  margin-top: -50px;
  z-index: 100; }

.image_marker_left {
  left: -16px;
  position: absolute; }

.image_marker_right {
  right: -16px;
  position: absolute; }

.item {
  position: relative; }

@media (min-width: 700px) and (max-width: 991px) {
  .item_textbox_right {
    width: 220px;
    height: 240px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column; } }
@media (min-width: 992px) {
  .item_textbox_right {
    width: 220px;
    height: 240px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column; } }
@media (min-width: 300px) and (max-width: 699px) {
  .item_textbox_right {
    text-align: center;
    justify-content: flex-start;
    margin: 30px 0 40px 0;
    margin-right: 0; } }

@media (min-width: 700px) and (max-width: 991px) {
  .item_textbox_left {
    margin-right: 20px;
    width: 220px;
    height: 240px;
    text-align: right;
    display: flex;
    justify-content: center;
    flex-direction: column; } }
@media (min-width: 992px) {
  .item_textbox_left {
    margin-right: 20px;
    width: 220px;
    height: 240px;
    text-align: right;
    display: flex;
    justify-content: center;
    flex-direction: column; } }
@media (min-width: 300px) and (max-width: 699px) {
  .item_textbox_left {
    text-align: center;
    justify-content: flex-start;
    margin: 30px 0 40px 0;
    margin-right: 0; } }

.row_testimonial {
  display: flex;
  justify-content: center;
  padding-bottom: 40px; }

.textbox_testimonial {
  width: 50%;
  text-align: center; }

.textbox_testimonial a {
  text-transform: uppercase; }

.textbox_testimonial_link {
  margin-top: 15px; }

.row_banner {
  height: 200px;
  background-image: url("../images/jason-wong-351890-banner.jpg");
  background-size: cover;
  background-position: center center;
  margin-bottom: 30px; }

footer {
  background-color: #ebebeb;
  height: 100px; }

.logo_img_small {
  width: 160px;
  padding-left: 25px;
  padding-top: 15px;
  float: left; }
  @media (min-width: 300px) and (max-width: 699px) {
    .logo_img_small {
      padding: 20px;
      float: none; } }

.large_footer {
  text-align: right;
  height: 100%;
  line-height: 100px;
  display: block; }
  @media (min-width: 300px) and (max-width: 699px) {
    .large_footer {
      display: none; } }

.large_footer li {
  display: inline-block;
  margin-right: 15px; }

.small_footer {
  height: auto;
  background-color: #ebebeb; }
  @media (min-width: 700px) and (max-width: 991px) {
    .small_footer {
      display: none; } }
  @media (min-width: 992px) {
    .small_footer {
      display: none; } }

.footer_ul_icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 15px; }

.footer_ul_icons li {
  padding: 10px; }

.footer_ul_contact {
  text-align: center; }

.footer_ul_contact li {
  margin-top: 20px; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

form {
  max-width: 400px;
  margin: 20px auto;
  padding: 10px 20px;
  border-radius: 8px; }

form h1 {
  margin: 0 0 30px 0;
  text-align: left; }

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #005960;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 10px;
  width: 100%;
  background-color: #ebebeb;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 20px; }

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0; }

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px; }

button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #005960;
  font-size: 18px;
  text-align: center;
  font-family: "Raleway", sans-serif;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #005960;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  margin-bottom: 10px; }

button.start_today {
  background-color: #2b98f0;
  font-size: 16px;
  width: 180px;
  height: 30px;
  border: 1px solid white;
  display: inline-block;
  padding: 0;
  margin-top: 10px; }
  @media (min-width: 700px) and (max-width: 991px) {
    button.start_today {
      display: none; } }

input.newsletter_email {
  display: inline-block;
  width: 180px;
  border: 1px solid white;
  border-radius: 5px;
  height: 30px; }

.submit_btn {
  width: 100px;
  height: 30px;
  font-size: 16px;
  background-color: #2b98f0;
  color: white;
  border: 1px solid white;
  border-radius: 5px; }

fieldset {
  margin-bottom: 30px;
  border: none; }

legend {
  font-size: 1.4em;
  margin-bottom: 10px; }

label {
  display: block;
  margin-bottom: 8px;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: #808080; }

label.light {
  font-weight: 300;
  display: inline; }

.number {
  background-color: #5fcf80;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  border-radius: 100%; }

@media screen and (min-width: 480px) {
  form {
    max-width: 480px; } }
/* video button style */

/*# sourceMappingURL=style.css.map */
