.bio_grid {
    background-color: $bgaccent;
    display: -ms-grid;
    display: grid;
    margin: auto;
    padding-top:20px;
    padding-bottom: 20px;
    grid-auto-rows: auto;
    grid-gap: 10px;
    grid-template-areas:
      "bio photo";
      justify-content: center;
      -ms-grid-columns: 4fr 3fr;
      grid-template-columns: 4fr 3fr;
    @include phone {
      -ms-grid-rows: 450px 250px;
      -ms-grid-columns: 300px;
      grid-template-rows: 450px 350px;
      grid-template-columns: 300px;
      grid-template-areas:
      "bio"
      "photo";
      text-align: center;
    }
  }

  .bio {
      grid-area: bio;
      -ms-grid-column: 1;
      -ms-grid-row: 1;
      @include phone {
        -ms-grid-column: 1;
        -ms-grid-row: 1; 
      }
  }
  .bio h1 {
      margin-left: 11vw;
  }
  .bio_container {
      margin-left: 15vw;
      margin-right: 5vw;
      @include phone {
        margin-left: 5vw;
      }
  }
  .bio_photo {
      grid-area: photo;
      -ms-grid-column: 2;
      -ms-grid-row: 1;
      @include phone {
        -ms-grid-column: 1;
        -ms-grid-row: 2; 
      }
  }

  .bio_photo img {
    margin: 40px;
    max-width: 265px;
    @include phone {
      margin: 0;
    }
  }

  .slideshow {
    margin: 80px auto;
    position: relative;
    width: 520px;
    height: 347px;
    padding: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  }
  
  // .slideshow > li {
  //   position: absolute;
  //   top: 10px;
  //   left: 10px;
  //   right: 10px;
  //   bottom: 10px;
  // }

  .slideshow_slides li {
    height: 100%;
    background-size: cover;
    background-position: center center;
    display: none;
    text-align: center;
}

.slideshow_controls {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 120px;
  text-align: center;
}
.slideshow_controls li {
  display: inline-block;
  margin: 0 20px;
  cursor: pointer;
  color: white;
  opacity: 0.5;
  font-family: Arial;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1.2px;
  text-shadow: 1px 1px rgba(0,0,0,.35);
}
.slideshow_controls li.active {
  opacity: 1;
}