
$phone__width: 300px; //min width
$tablet__width: 700px; //min width
$desktop__width: 992px; //min width

//media query mixins

@mixin phone {
    @media(min-width: #{$phone__width}) and (max-width: #{$tablet__width - 1px}){
        @content;
    }
}

@mixin tablet {
    @media(min-width: #{$tablet__width}) and (max-width: #{$desktop__width - 1px}){
        @content;
    }
}

@mixin desktop {
    @media(min-width: #{$desktop__width}){
        @content;
    }
}
