
body {
  font-family: $font-primary;
  font-weight: $regular;
  font-size: 18px;
  color: $black;
  background: $bgprimary;
}

.scroll_header {
  background-color: $blue;
  height: 50px;
  width: 100vw;
  color: white;
  z-index: 200;
  display: none;
}

.scroll_header p {
  display: inline-block;
  line-height: 50px;
  font-size: 16px;
}

.scroll_header_left {
  text-align: left;
  margin-left: 50px;
  height: 100%;
  display: inline-block;
  @include tablet {
    display: none;
  }
}

.scroll_header_right {
  text-align: right;
  margin-right: 50px;
  height: 100%;
  display: inline-block;
  float: right;
  padding-right: 20px;
  @include phone {
    display: none;
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  display: inline;
}

.sticky + .content {
  padding-top: 102px;
}

.header_grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 75px 75px;
  grid-template-rows: 75px 75px;
  @include desktop {
  grid-template-areas:
    "mainheader contact"
    "mainheader nav";
  }
  @include tablet {
    grid-template-areas:
    "mainheader tabletnav"
    "mainheader .";
  }
  @include phone {
    -ms-grid-rows: 150px 50px;
    -ms-grid-columns: 300px 1px;
    grid-template-rows: 100px 100px;
    grid-template-areas:
    "mainheader mainheader"
    "tabletnav tabletnav";
  }
}
.main_header {
  -ms-grid-column: 1;
  -ms-grid-row:1;
  grid-area: mainheader;
  @include phone {
    text-align: center;
  }
}
.logo_img {
  width: 200px;
  padding-left: 25px;
  padding-top: 10px;
  @include phone {
    width: 150px;
    padding-left: 0;
  }
}
.main_header h2 {
  margin: 0 0 0 40px;
}
.main_header h3 {
  margin-left: 60px;
}
.contact {
  -ms-grid-column: 2;
  -ms-grid-row:1;
  grid-area: contact;
  text-align: right;
  height: 100%;
  line-height: 75px;
}
.contact li, .tablet_nav li {
  display: inline-block;
  margin-right: 10px;
}
.fa {
  padding: 5px;
}
.nav {
  -ms-grid-column: 2;
  -ms-grid-row:2;
  grid-area: nav;
  text-align: right;
  line-height: 75px;
}
.nav li {
  text-transform: uppercase;
  display: inline-block;
  margin-right: 25px;
}
.nav a {
  color: black;
}
.nav a:hover {
  color: $blue;
}
.nav, .contact {
  @include phone {
    display: none;
  }
  @include tablet {
    display: none;
  }
}
.tablet_nav {
  -ms-grid-column: 1;
  -ms-grid-row: 1;
  grid-area: tabletnav;
  text-align: right;
  align-self: end;
  @include desktop {
    display: none;
  }
  @include phone {
    text-align: center;
    align-self: center;
    -ms-grid-column: 1;
    -ms-grid-row: 2;
  }
}
// .menu_bars {
//   position: relative;
// }
.tablet_nav_dropdown {
  width: 150px;
  height: auto;
  background-color: white;
  position: absolute;
  top: 80px;
  right: 10px;
  z-index: 500;
  box-shadow:1px 1px 4px $darkgray;
  border-radius: 3px;
  display: none;
  float: right;
  @include phone {
    top: 180px;
    right: 30px;
  }
}
.tablet_nav_dropdown li {
  padding: 15px;
}
.tablet_nav_dropdown ul {
  text-align: left;
  margin: 10px 0 10px 10px;
}
.tablet_nav_dropdown_background {
  z-index: 499;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}
.showcase_grid {
  display: -ms-grid;
  display: grid;
  margin: auto;
  margin-top:20px;
  margin-bottom: 20px;
  grid-auto-rows: auto;
  grid-gap: 10px;
  grid-template-areas:
    "video1 video2";
    justify-content: center;
  @include desktop {
    -ms-grid-columns: 500px 500px;
    grid-template-columns: 500px 500px;
    width: 1010px;
  }
  @include tablet {
    -ms-grid-columns: 345px 345px;
    grid-template-columns: 345px 345px;
    width: 700px;
  }
  @include phone {
    -ms-grid-rows: 300px 300px;
    grid-template-rows: 300px 300px;
    grid-template-areas:
    "video1"
    "video2";
    text-align: center;
  }
}

.video_1_box {
  -ms-grid-column: 1;
  -ms-grid-row:1;
    grid-area: video1;
    @include phone {
      -ms-grid-row: 1;
      -ms-grid-column: 1;
    }    
  }
.video_2_box {
  -ms-grid-column: 2;
  -ms-grid-row:1;
    grid-area: video2;
    @include phone {
      -ms-grid-row: 2;
      -ms-grid-column: 1;
    }
  }

.video1 {
  width: 500px;
  height: 500px;
  @include tablet {
    width: 345px;
    height: 345px;
  }
  @include phone {
    width: 300px;
    height: 300px;
  }
}

.video2 {
    width: 500px;
    height: 500px;
    @include tablet {
      width: 345px;
      height: 345px;
    }
    @include phone {
      width: 300px;
      height: 300px;
    }
  }

  .main_content {
    background-color: $bgaccent;
  }

  .main_row {
    width: 75vw;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .main_row h2 {
    padding-left: 25px;
  }

.main_grid {
  width: 50%;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 240px 240px;
  grid-template-columns: 240px 240px;
  -ms-grid-rows: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: center;
  padding-bottom: 75px;
  @include phone {
    -ms-grid-columns: 240px;
    grid-template-columns: 240px;
    -ms-grid-rows: 240px 125px 240px 125px 240px 125px;
    grid-template-rows: auto;
    grid-template-areas:
    "row-1"
    "row-2"
    "row-3"
    "row-4"
    "row-5"
    "row-6"
  }
}

//So grid will work with IE and Edge...
.item1 {   
  -ms-grid-column: 1;
  -ms-grid-row:1;
}
.item2 {
  -ms-grid-column: 2;
  -ms-grid-row:1;
}
.item3 {   
  -ms-grid-column: 1;
  -ms-grid-row:2;
}
.item4 {   
  -ms-grid-column: 2;
  -ms-grid-row:2;
}
.item5 {   
  -ms-grid-column: 1;
  -ms-grid-row:3;
}
.item6 {   
  -ms-grid-column: 2;
  -ms-grid-row:3;
}

@media(min-width: #{$phone__width}) and (max-width: #{$tablet__width - 1px}){
  .item1 { 
    grid-area: row-1;
    -ms-grid-column: 1;
    -ms-grid-row:1;
  }
  .item2 { 
    grid-area: row-2;
    -ms-grid-column: 1;
    -ms-grid-row:2;
  }
  .item3{ 
    grid-area: row-4;
    -ms-grid-column: 1;
    -ms-grid-row:4;
  }
  .item4 { 
    grid-area: row-3;
    -ms-grid-column: 1;
    -ms-grid-row:3;
  }
  .item5 { 
    grid-area: row-5;
    -ms-grid-column: 1;
    -ms-grid-row:5;
  }
  .item6 { 
    grid-area: row-6;
    -ms-grid-column: 1;
    -ms-grid-row:6;
  }
}

.image_1 {
  height: 240px;
  width: 240px;
  background: linear-gradient(to bottom, rgba(43,152,240,.60), rgba(43,152,240,0)),
              url("../images/beach_training2.jpg");
}
.image_2 {
  height: 240px;
  width: 240px;
  background: linear-gradient(to bottom, rgba(43,152,240,.60), rgba(43,152,240,0)),
              url("../images/garage_training2.jpg");
}
.image_3 {
  height: 240px;
  width: 240px;
  background: linear-gradient(to bottom, rgba(43,152,240,.60), rgba(43,152,240,0)),
              url("../images/gloves2.jpg");
}

.image_marker {
    height: 120px;
    background-color: $yellow;
    width: 16px;
    top: 50%;
    margin-top: -50px;
    z-index: 100;
}

.image_marker_left {
  left: -16px;
  position: absolute;
}

.image_marker_right {
  right: -16px;
  position: absolute;
}

.item {
  position: relative;
}

.item_textbox_right {
  @include tablet {
  width: 220px;
  height: 240px;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
  @include desktop {
    width: 220px;
    height: 240px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  @include phone {
    text-align: center;
    justify-content:flex-start;
    margin: 30px 0 40px 0;
    margin-right: 0;
  }
}

.item_textbox_left {
  @include tablet {
  margin-right: 20px;
  width: 220px;
  height: 240px;
  text-align: right;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
  @include desktop {
  margin-right: 20px;
  width: 220px;
  height: 240px;
  text-align: right;
  display: flex;
  justify-content: center;
  flex-direction: column;
  }
  @include phone {
    text-align: center;
    justify-content:flex-start;
    margin: 30px 0 40px 0;
    margin-right: 0;
  }
}


.row_testimonial {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}

.textbox_testimonial {
  width: 50%;
  text-align: center;
}

.textbox_testimonial a {
  text-transform:uppercase;
}

.textbox_testimonial_link {
  margin-top: 15px;
}

.row_banner {
  height: 200px;
  background-image: url('../images/jason-wong-351890-banner.jpg');
  background-size: cover;
  background-position: center center;
  margin-bottom: 30px;
}

footer {
  background-color: $bgaccent;
  height: 100px;
}
.logo_img_small {
  width: 160px;
  padding-left: 25px;
  padding-top: 15px;
  float: left;
  @include phone {
    padding: 20px;
    float: none;
  }
}
.large_footer {
  text-align: right;
  height: 100%;
  line-height: 100px;
  display: block;
  @include phone {
    display: none;
  }
}
.large_footer li {
  display: inline-block;
  margin-right: 15px;
}

.small_footer {
  height: auto;
  background-color: $bgaccent;
  @include tablet {
    display: none;
  }
  @include desktop {
    display: none;
  }
}
.footer_ul_icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 15px;
}
.footer_ul_icons li {
  padding: 10px;
}
.footer_ul_contact {
  text-align: center;
}
.footer_ul_contact li {
  margin-top: 20px;
}
