$font-primary: 'Raleway', sans-serif;
$font-accent: 'Maven Pro', sans-serif;

$regular: 400; //Raleway
$medium: 500; //Raleway and Maven Pro
$semi-bold: 600; //Raleway
$black: 900; //Maven Pro


h1 {
  font-family: $font-accent;
  font-weight: $black;
  color: $blue;
  margin: 10px;
  @include desktop {
    font-size: 32px;
  }
  @include tablet {
    font-size: 30px;
  }
  @include phone {
    font-size: 26px;
  }
}

h2 {
  font-family:$font-primary;
  font-weight: $regular;
  color: $black;
  margin: 10px;
  @include desktop {
    font-size: 26px;
  }
  @include tablet {
    font-size: 26px;
  }
  @include phone {
    font-size: 20px;
  }
}

h3 {
  font-family: $font-primary;
  font-weight: $regular;
  font-size: 22px;
  color: $lightgray;
  @include phone {
    font-size: 18px;
  }
}

p {
  font-family: $font-primary;
  font-weight: $regular;
  font-size: 2.2rem;
  @include phone {
    font-size: 1.8rem;
  }
}

.contact p {
  color: $darkgray;
  font-size: 16px;
}

a {
  font-family: $font-primary;
  font-weight: $regular;
  color: $blue;
  font-size: 16px;
  text-decoration: none;
}

.fa {
  color: $yellow;
  font-size: 26px;
}

.light {
  color: $darkgray;
  font-size: 14px;
}
