$font-primary: 'Raleway', sans-serif;
$font-accent: 'Maven Pro', sans-serif;

$regular: 400; //Raleway
$medium: 500; //Raleway and Maven Pro
$semi-bold: 600; //Raleway
$black: 900; //Maven Pro


h1 {
  font-family: $font-accent;
  font-weight: $black;
  color: $lightblue;
  margin: 10px;
  font-size: 4.5rem;
    @include phone {
    font-size: 3.2rem;
  }
}

h2 {
  font-family:$font-primary;
  font-weight: $regular;
  color: $black;
  margin: 10px;
  font-size: 3rem;
  @include phone {
    font-size: 2.5rem;
  }
}

h3 {
  font-family: $font-primary;
  font-weight: $regular;
  font-size: 2.3rem;
  color: $lightgray;
  @include phone {
    font-size: 2rem;
  }
}

p {
  font-family: $font-primary;
  font-weight: $regular;
  font-size: 2.5rem;
  @include phone {
    font-size: 1.8rem;
  }
}

.contact p {
  color: $darkgray;
  font-size: 2rem;
}

a {
  font-family: $font-primary;
  font-weight: $regular;
  color: $blue;
  font-size: 2rem;
  text-decoration: none;
}
a:focus, a:hover {
  text-decoration: underline;
}

.light {
  color: $darkgray;
  font-size: 1.8rem;
}

.icon {
  display: inline-block;
  width: 2.8rem;
  height: 2.8rem;
  stroke-width: 0;
  stroke: $yellow;
  fill: $yellow;
  margin: 0px 7px;
}